<template>
<div id="error-section">
<p>hello world</p>

</div>
</template>

<script>

export default {

}

</script>


<style scoped>

#error-section{
    height: 30rem;
    background: var(--white-color);
}

</style>