<template>
  <div id="home">
    <contactform></contactform>
    <div class="intro-grid">
      <img class="corner-shape" src="../assets/cornershape-2.png" />
      <div class="item-one">
        <h1>Object Detection Kit</h1>
        <h4 class="intro-subtitle">{{ homeText.subtitle }}</h4>
        <div>
          <router-link to="/participation">
            <b-button rounded id="cto-button" size="is-medium" type="is-info">{{
              homeText.startButton
            }}</b-button>
          </router-link>
        </div>
      </div>
      <div class="item-two">
        <img class="artwork-desktop" src="../assets/artwork-desktop.png" />
        <img class="artwork-mobile" src="../assets/artwork-mobile.png" />
      </div>
    </div>

    <div class="partners-section">
      <div class="partner-margin">
        <img src="../assets/ga.png" alt class="partners-image" />
        <img src="../assets/ams.png" alt class="partners-image" />
        <img src="../assets/vng.png" alt class="partners-image" />
        <img src="../assets/gr.png" alt class="partners-image" />
        <img src="../assets/gu.png" alt class="partners-image" />
        <img src="../assets/codefornl.png" alt class="partners-image" />
        <img src="../assets/uva.png" alt class="partners-image" />
      </div>
    </div>
    <div class="why-body">
      <div id="why-section">
        <div id="why-section-one">
          <div>
            <p class="odk-title">{{ homeText.complaints }}</p>
            <p class="body-1">{{ homeText.manyComplaints }}</p>
          </div>
          <div id="why-image-section">
            <img class="why-image-one" src="../assets/goal-1.png" />
          </div>
        </div>
        <div id="why-section-two">
          <div id="why-image-section-two">
            <img class="why-image-two" src="../assets/goal-2.png" />
          </div>
          <div>
            <p class="odk-title">{{ homeText.convert }}</p>
            <p class="body-1">{{ homeText.convertResources }}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="setup-section">
      <div id="intro-setup" class="sticky">
        <h2>{{ homeText.setupHeader }}</h2>
        <p class="body-1">{{ homeText.setupText }}</p>
        <router-link to="/setup">
          <b-button rounded id="setup-button" size="is-medium" type="is-info">{{
            homeText.setupButton
          }}</b-button>
        </router-link>
      </div>
      <scrollanimation></scrollanimation>

      <a href="https://app.odk.cto-tech.amsterdam/" target="_blank">
        <button class="sticky-button button-2" id="pwa-button">
          <div id="pwa-image">
            <img src="../assets/icons/pwa.png" />
          </div>
          <div id="pwa-box">
            <p class="overline">{{ homeText.launchNow }}</p>
            <p class="button-2">{{ homeText.pwaButton }}</p>
          </div>
        </button>
      </a>
    </div>
    <div id="current-phase-section">
      <div class="bg-display">
        <img class="current-phase-bg" src="../assets/process-bg.png" />
        <div id="intro-setup-process">
          <h2>{{ homeText.processHeader }}</h2>
          <p class="body-1">{{ homeText.processText }}</p>
          <reportanimation></reportanimation>
          <div id="arrows">
            <div class="arrow">
              <div class="line"></div>
              <div class="point"></div>
            </div>
            <div class="arrow">
              <div class="line"></div>
              <div class="point"></div>
            </div>
            <div class="arrow">
              <div class="line"></div>
              <div class="point"></div>
            </div>
            <div class="final-arrow">
              <div class="line"></div>
              <div class="final-point"></div>
            </div>
          </div>
          <div id="process-steps">
            <span class="body-2">{{ homeText.detect }}</span>
            <span class="body-2">{{ homeText.report }}</span>
            <span class="body-2">{{ homeText.collect }}</span>
            <span class="body-2">{{ homeText.keepClean }}</span>
          </div>
        </div>
        <img class="current-phase-bg2" src="../assets/process-bg2.png" />
      </div>
    </div>
    <div id="current-recognized-section">
      <div id="current-recognized-header">
        <p class="odk-title">{{ homeText.currentheader }}</p>
        <p class="caption-2">{{ homeText.items }}</p>
      </div>
      <div id="current-recognized-items">
        <div>
          <div class="current-recognized-item">
            <img src="../assets/illustrations/Cardboard.png" />
            <p class="body-2">{{ homeText.cardboard }}</p>
          </div>
          <div class="current-recognized-item">
            <img src="../assets/illustrations/garbage-bags.png" />
            <p class="body-2">{{ homeText.garbageBag }}</p>
          </div>
          <div class="current-recognized-item">
            <img src="../assets/illustrations/garbage-bins.png" />
            <p class="body-2">{{ homeText.garbageBins }}</p>
          </div>
          <div class="current-recognized-item">
            <img src="../assets/illustrations/Christmastree.png" />
            <p class="body-2">{{ homeText.christmasTree }}</p>
          </div>
        </div>
        <div>
          <div class="current-recognized-item faded">
            <img src="../assets/illustrations/Mattresses.png" />
            <p class="body-2">{{ homeText.Mattresses }}</p>
            <p class="coming-soon">{{ homeText.comingSoon }}</p>
          </div>
          <div class="current-recognized-item faded">
            <img src="../assets/illustrations/Furniture.png" />
            <p class="body-2">{{ homeText.furniture }}</p>
            <p class="coming-soon">{{ homeText.comingSoon }}</p>
          </div>
          <div class="current-recognized-item faded">
            <img src="../assets/illustrations/Appliances.png" />
            <p class="body-2">{{ homeText.appliances }}</p>
            <p class="coming-soon">{{ homeText.comingSoon }}</p>
          </div>
          <div class="current-recognized-item faded">
            <img src="../assets/illustrations/Wood.png" />
            <p class="body-2">{{ homeText.wood }}</p>
            <p class="coming-soon">{{ homeText.comingSoon }}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="join-section">
      <div id="intro-setup">
        <h2>{{ homeText.join }}</h2>
        <p class="body-1">{{ homeText.helpEachOther }}</p>
      </div>
      <div id="movement-items">
        <div class="movement-item">
          <div class="movement-image">
            <img src="../assets/owncity.png" />
          </div>
          <div class="movement-text">
            <p class="join-header-text">{{ homeText.titleOptionOne }}</p>
            <p class="join-text">{{ homeText.optionOne }}</p>
          </div>
          <router-link to="/participation">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                id="Icons/Arrow-right"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <path
                  d="M12,5.12 C12.6903559,5.12 13.25,5.67964406 13.25,6.37 L13.24934,14.817 L16.4767765,11.5914489 C16.9323882,11.1358373 17.6522086,11.1054631 18.1430481,11.5003266 L18.2445435,11.5914489 C18.7001551,12.0470606 18.7305292,12.766881 18.3356658,13.2577205 L18.2445435,13.3592159 L13.2374369,18.3663225 C12.5942204,19.009539 11.5748689,19.0473752 10.8874012,18.4798313 L10.7625631,18.3663225 L5.75545654,13.3592159 C5.26730117,12.8710605 5.26730117,12.0796043 5.75545654,11.5914489 C6.21106821,11.1358373 6.93088863,11.1054631 7.42172814,11.5003266 L7.52322349,11.5914489 L10.74934,14.817 L10.75,6.37 C10.75,5.67964406 11.3096441,5.12 12,5.12 Z"
                  id="Combined-Shape"
                  fill="#2F1C50"
                  transform="translate(12.000000, 11.999443) scale(-1, -1) rotate(-270.000000) translate(-12.000000, -11.999443) "
                />
              </g>
            </svg>
          </router-link>
        </div>
        <div class="movement-item">
          <div class="movement-image">
            <img src="../assets/othercities.png" />
          </div>
          <div class="movement-text">
            <p class="join-header-text">{{ homeText.titleOptionTwo }}</p>
            <p class="join-text">{{ homeText.optionTwo }}</p>
          </div>
          <router-link to="/participation">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                id="Icons/Arrow-right"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <path
                  d="M12,5.12 C12.6903559,5.12 13.25,5.67964406 13.25,6.37 L13.24934,14.817 L16.4767765,11.5914489 C16.9323882,11.1358373 17.6522086,11.1054631 18.1430481,11.5003266 L18.2445435,11.5914489 C18.7001551,12.0470606 18.7305292,12.766881 18.3356658,13.2577205 L18.2445435,13.3592159 L13.2374369,18.3663225 C12.5942204,19.009539 11.5748689,19.0473752 10.8874012,18.4798313 L10.7625631,18.3663225 L5.75545654,13.3592159 C5.26730117,12.8710605 5.26730117,12.0796043 5.75545654,11.5914489 C6.21106821,11.1358373 6.93088863,11.1054631 7.42172814,11.5003266 L7.52322349,11.5914489 L10.74934,14.817 L10.75,6.37 C10.75,5.67964406 11.3096441,5.12 12,5.12 Z"
                  id="Combined-Shape"
                  fill="#2F1C50"
                  transform="translate(12.000000, 11.999443) scale(-1, -1) rotate(-270.000000) translate(-12.000000, -11.999443) "
                />
              </g>
            </svg>
          </router-link>
        </div>
        <div class="movement-item">
          <div class="movement-image">
            <img src="../assets/labelimages.png" />
          </div>
          <div class="movement-text">
            <p class="join-header-text">{{ homeText.titleOptionThree }}</p>
            <p class="join-text">{{ homeText.optionThree }}</p>
          </div>
          <router-link to="/participation">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                id="Icons/Arrow-right"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <path
                  d="M12,5.12 C12.6903559,5.12 13.25,5.67964406 13.25,6.37 L13.24934,14.817 L16.4767765,11.5914489 C16.9323882,11.1358373 17.6522086,11.1054631 18.1430481,11.5003266 L18.2445435,11.5914489 C18.7001551,12.0470606 18.7305292,12.766881 18.3356658,13.2577205 L18.2445435,13.3592159 L13.2374369,18.3663225 C12.5942204,19.009539 11.5748689,19.0473752 10.8874012,18.4798313 L10.7625631,18.3663225 L5.75545654,13.3592159 C5.26730117,12.8710605 5.26730117,12.0796043 5.75545654,11.5914489 C6.21106821,11.1358373 6.93088863,11.1054631 7.42172814,11.5003266 L7.52322349,11.5914489 L10.74934,14.817 L10.75,6.37 C10.75,5.67964406 11.3096441,5.12 12,5.12 Z"
                  id="Combined-Shape"
                  fill="#2F1C50"
                  transform="translate(12.000000, 11.999443) scale(-1, -1) rotate(-270.000000) translate(-12.000000, -11.999443) "
                />
              </g>
            </svg>
          </router-link>
        </div>
        <div class="movement-item">
          <div class="movement-image">
            <img src="../assets/otherobjects.png" />
          </div>
          <div class="movement-text">
            <p class="join-header-text">{{ homeText.titleOptionFour }}</p>
            <p class="join-text">{{ homeText.optionFour }}</p>
          </div>
          <router-link to="/participation">
            <svg
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                id="Icons/Arrow-right"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <path
                  d="M12,5.12 C12.6903559,5.12 13.25,5.67964406 13.25,6.37 L13.24934,14.817 L16.4767765,11.5914489 C16.9323882,11.1358373 17.6522086,11.1054631 18.1430481,11.5003266 L18.2445435,11.5914489 C18.7001551,12.0470606 18.7305292,12.766881 18.3356658,13.2577205 L18.2445435,13.3592159 L13.2374369,18.3663225 C12.5942204,19.009539 11.5748689,19.0473752 10.8874012,18.4798313 L10.7625631,18.3663225 L5.75545654,13.3592159 C5.26730117,12.8710605 5.26730117,12.0796043 5.75545654,11.5914489 C6.21106821,11.1358373 6.93088863,11.1054631 7.42172814,11.5003266 L7.52322349,11.5914489 L10.74934,14.817 L10.75,6.37 C10.75,5.67964406 11.3096441,5.12 12,5.12 Z"
                  id="Combined-Shape"
                  fill="#2F1C50"
                  transform="translate(12.000000, 11.999443) scale(-1, -1) rotate(-270.000000) translate(-12.000000, -11.999443) "
                />
              </g>
            </svg>
          </router-link>
        </div>
      </div>
    </div>
    <div id="roadmap-section">
      <div id="roadmap-box">
        <div id="roadmap-mobile">
          <div id="roadmap-card">
            <div class="roadmap-card">
              <p class="caption-2">{{ currentRoadmapCard.date }}</p>
              <p class="odk-title">{{ currentRoadmapCard.title }}</p>
              <p class="body-1">{{ currentRoadmapCard.text }}</p>
              <div class="clipped-path"></div>
            </div>
          </div>
          <div id="roadmap-graph">
            <div class="roadmap-line"></div>
            <div class="circle"></div>
            <div class="dashed-line"></div>
          </div>
        </div>
        <div id="roadmap-results">
          <h2>{{ homeText.bottomTextHeader }}</h2>
          <p class="body-1">{{ homeText.bottomText }}</p>
          <div id="roadmap-stats">
            <div class="body-2 span-stats">
              <span>{{ homeText.bottomTextStatusOne.number }}</span>
              <span>{{ homeText.bottomTextStatusTwo.number }}</span>
              <span class="roadmap-updates"></span>
            </div>
            <div class="body-2">
              <span>{{ homeText.bottomTextStatusOne.text }}</span>
              <span>{{ homeText.bottomTextStatusTwo.text }}</span>
              <span>{{ homeText.bottomTextStatusThree.text }}</span>
            </div>
          </div>
          <router-link to="/roadmap">
            <b-button rounded id="next-button" size="is-medium" type="is-info">
              <span>{{ homeText.bottomButton }}</span>
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Icons/Arrow-right"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <path
                    d="M12,5.12 C12.6903559,5.12 13.25,5.67964406 13.25,6.37 L13.24934,14.817 L16.4767765,11.5914489 C16.9323882,11.1358373 17.6522086,11.1054631 18.1430481,11.5003266 L18.2445435,11.5914489 C18.7001551,12.0470606 18.7305292,12.766881 18.3356658,13.2577205 L18.2445435,13.3592159 L13.2374369,18.3663225 C12.5942204,19.009539 11.5748689,19.0473752 10.8874012,18.4798313 L10.7625631,18.3663225 L5.75545654,13.3592159 C5.26730117,12.8710605 5.26730117,12.0796043 5.75545654,11.5914489 C6.21106821,11.1358373 6.93088863,11.1054631 7.42172814,11.5003266 L7.52322349,11.5914489 L10.74934,14.817 L10.75,6.37 C10.75,5.67964406 11.3096441,5.12 12,5.12 Z"
                    id="Combined-Shape"
                    fill="#2F1C50"
                    transform="translate(12.000000, 11.999443) scale(-1, -1) rotate(-270.000000) translate(-12.000000, -11.999443) "
                  />
                </g>
              </svg>
            </b-button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from "./ContactForm";
import ScrollAnimation from "./ScrollAnimation";
import ReportAnimation from "./ReportAnimation";
import { homePageText, roadmapCards } from "../locale/translations";
import { monthsNl, monthsEn } from "../util";
import _ from "lodash";
import { eventBus } from "../main";

export default {
  name: "home-page",
  components: {
    contactform: ContactForm,
    scrollanimation: ScrollAnimation,
    reportanimation: ReportAnimation,
  },

  // ----

  data() {
    return {
      homeText: null,
      homeTextEn: null,
      homeTextNl: null,

      allRoadmapCardsEn: null,
      allRoadmapCardsNl: null,
      allRoadmapCards: [],
      futureRoadmapCards: [],
      currentRoadmapCard: [],
    };
  },

  // ----

  methods: {
    setup() {
      this.homeTextEn = homePageText.i18n.messages.en;
      this.homeTextNl = homePageText.i18n.messages.nl;

      // Set property to empty for best result
      this.futureRoadmapCards = [];

      // Grab text for each language
      this.allRoadmapCardsEn = roadmapCards.i18n.messages.en.roadmap;
      this.allRoadmapCardsNl = roadmapCards.i18n.messages.nl.roadmap;

      // init roadmap card / Current card
      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.homeText = this.homeTextNl;
        this.getCurrentRoadmapCard(this.allRoadmapCardsNl);
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.homeText = this.homeTextEn;
        this.getCurrentRoadmapCard(this.allRoadmapCardsEn);
      } else {
        this.homeText = this.homeTextNl;
        this.getCurrentRoadmapCard(this.allRoadmapCardsNl);
      }
    },

    // ----

    getCurrentRoadmapCard(allRoadmapCards) {
      // Order Future items / Future cards by date
      allRoadmapCards = _.orderBy(allRoadmapCards, "dueDate", "asc");

      // Determine whether date of item / card was in the Past or is in the Future
      // Get date of today
      let date = new Date();

      // For every item / card
      allRoadmapCards.forEach((roadmapCard) => {
        if (
          new Date(roadmapCard.dueDate).setDate(
            new Date(roadmapCard.dueDate).getDate() + 1
          ) >= date.setDate(date.getDate())
        ) {
          // Add item / card to Future array if date >= today
          this.futureRoadmapCards.push(roadmapCard);
        }
      });

      // This is the current card || First in all Future cards
      this.currentRoadmapCard = this.futureRoadmapCards[0];

      if (!this.currentRoadmapCard) {
        this.currentRoadmapCard = allRoadmapCards[allRoadmapCards.length - 1];
      }

      // Variable for generating month in text
      let months;

      // Grab correct array of months based on language
      if (localStorage.dutchActive && localStorage.language == "nl") {
        months = monthsNl;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        months = monthsEn;
      } else {
        months = monthsNl;
      }

      let month =
        months[[new Date(this.currentRoadmapCard.dueDate).getMonth()]];
      // Get year of item / card
      let year = new Date(this.currentRoadmapCard.dueDate).getFullYear();
      // Add 'date' to item / card data
      this.currentRoadmapCard.date = month + " " + year;
    },
  },

  // ----

  beforeMount() {
    // Do setup before showing HTML (*required)
    this.setup();
    // Check En or Nl language active
    eventBus.$on("langEnActive", (englishActive) => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
        this.homeText = this.homeTextEn;
        this.setup();
      }
    });
    eventBus.$on("langNlActive", (dutchActive) => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
        this.homeText = this.homeTextNl;
        this.setup();
      }
    });

    // gitlab commits
    $.ajaxPrefilter(function (options) {
      if (options.crossDomain && jQuery.support.cors) {
        var http = window.location.protocol === "http:" ? "http:" : "https:";
        options.url = http + "//cors-anywhere.herokuapp.com/" + options.url;
      }
    });

    $(".roadmap-updates").load(
      "https://gitlab.com/odk.ai/odk-stack .project-stat-value:first"
    );
  },
};
</script>

<style scoped>
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: var(--second-purple-color);
}

.button-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--second-purple-color);
}

.caption-2 {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-blue-color);
  font-weight: 400;
  line-height: 1.125rem;
}

.body-1-setup {
  margin-top: 0.625rem;
  margin-bottom: 3.375rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: var(--dark-blue-color);
}

.header-2 {
  font-size: 2.25rem !important;
  font-weight: 700;
  line-height: 3.125rem;
  color: var(--second-purple-color);
  font-family: "Open Sans", sans-serif !important;
}

.intro-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
  height: auto;
  background: var(--main-purple-color);
}

.item-one {
  align-self: center;
  position: relative;
  z-index: 15;
}

.item-two {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.corner-shape {
  position: absolute;
  height: 28.5vw;
  max-height: 36rem;
  left: 0;
  top: -6rem;
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .corner-shape {
      display: none;
    }

    .item-two {
      display: flex;
      justify-content: flex-end;
      align-self: center;
      max-height: 718px;
    }
  }
}

.intro-subtitle {
  margin-bottom: 2.875rem;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.artwork-desktop,
.artwork-mobile {
  margin: 2rem 0;
  width: 90%;
  object-fit: contain;
}

.artwork-mobile {
  display: none;
}

#cto-button {
  width: 9.125rem;
  height: 2.625rem;
  background: var(--yellow-color);
  color: var(--second-purple-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: var(--second-purple-color);
}

.partners-section {
  width: 100%;
  background: var(--second-purple-color) !important;
  margin: 0 auto;
  padding: 0.625rem;
  height: 5.375rem;
  display: flex;
  align-items: center;
}

.partner-margin {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  max-width: 1400px;
}

.partners-image {
  height: 2.5rem;
  margin-left: 1.125rem;
  margin-right: 1.125rem;
}

#why-section {
  background: var(--white-color);
  height: auto;
  width: 75%;
  max-width: 1400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

#why-image-section {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

#why-image-section-two {
  display: flex;
  flex-grow: 1;
  padding-right: 4rem;
}

.why-image-one {
  height: 30rem;
  object-fit: contain;
}
.why-image-two {
  height: 30rem;
  object-fit: contain;
}

.why-body {
  width: 100%;
  background: var(--white-color);
  height: 100%;
}

#why-section-one {
  padding-top: 4rem;
  display: inline-flex;
  align-items: center;
}

#why-section-one div {
  width: 60%;
  height: 60%;
}

#why-section-two {
  display: inline-flex;
  align-items: center;
  padding-bottom: 4rem;
}

#why-section-two div {
  width: 60%;
  margin: 0 auto;
  height: 60%;
}

#setup-section {
  height: auto;
  background: var(--second-white-color);
  padding-top: 7rem;
  padding-bottom: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#intro-setup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#intro-setup p {
  margin-top: 1.75rem;
  text-align: center;
  width: 25rem;
  margin-bottom: 3.375rem;
}

#join-section #intro-setup p {
  margin-bottom: 0;
}

#setup-button {
  height: 2.625rem;
  background: var(--yellow-color);
  color: var(--second-purple-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  position: relative;
  z-index: 4;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
}

#setup-button:hover,
#cto-button:hover {
  background: rgba(246, 211, 101, 0.7) !important;
}

#pwa-button {
  display: flex;
  justify-content: center;
  background: var(--second-white-color);
  color: var(--dark-blue-color);
  margin: 0 auto;
  width: 11rem !important;
  border: 0.125rem solid rgb(105, 89, 133);
  border-radius: 4px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

#pwa-button:hover {
  background: rgba(105, 89, 133, 0.6);
}

.overline {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1.375rem;
  color: var(--dark-blue-color);
  height: 0.8rem;
  text-align: left;
}

#pwa-image {
  align-self: center;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
}

#pwa-box {
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}

#pwa-image img {
  height: 1rem;
}

#current-phase-section {
  height: 650px;
  width: 100%;
  background: var(--white-color);
  padding-bottom: 7.25rem;
  overflow: hidden;
}

.current-phase-bg {
  height: 41rem;
  width: 22rem;
  position: absolute;
  left: 0;
}

.current-phase-bg2 {
  height: 41rem;
  width: 44rem;
  position: absolute;
  overflow: hidden;
  right: 0;
}

#intro-setup-process {
  width: 35rem;
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-display {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

#current-phase-section h2 {
  margin-top: 2rem;
  text-align: center;
  color: var(--dark-blue-color);
}

#current-phase-section p {
  margin-top: 1.75rem;
  text-align: center;
  width: 100%;
  color: var(--dark-blue-color);
}

#arrows {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
}

#process-steps {
  display: flex;
  width: 32rem;
  justify-content: space-around;
  margin-top: 1.5rem;
}

#arrows :first-child {
  border-left: 2.5px solid var(--dark-blue-color);
}

.arrow {
  width: 5rem;
  flex-grow: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.final-arrow {
  width: 8rem;
  flex-grow: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.line {
  width: 23rem;
  background: var(--dark-blue-color);
  height: 3px;
  align-self: center;
}

.point {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid var(--dark-blue-color);
}

.final-point {
  background: var(--black-color);
  border-right: 2.5px solid var(--dark-blue-color);
}

#current-recognized-section {
  background: var(--white-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
  width: 100%;
}

#current-recognized-header {
  display: flex;
  width: 75%;
  max-width: 1400px;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
}

#current-recognized-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 75%;
  max-width: 1400px;
  margin: 3.125rem auto;
}

#current-recognized-items div {
  display: flex;
  justify-content: center;
}

.current-recognized-item {
  height: 14rem;
  width: 14rem;
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: var(--white-color);
  box-shadow: 0px 1px 10px 0px rgba(47, 28, 80, 0.2);
}

.coming-soon {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  color: var(--pink-color);
  font-weight: 700;
  line-height: 0.1rem;
}

.faded {
  opacity: 0.5;
}

.current-recognized-item p {
  width: 100%;
  text-align: center;
}

.current-recognized-item img {
  margin: 1rem;
  height: 8.125rem;
  object-fit: contain;
}

.faded img {
  margin: 0.5rem;
}

#join-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  height: auto;
  background: var(--second-white-color);
}

#movement-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  max-width: 1400px;
  justify-content: center;
  margin: 3.75rem auto 0 auto;
}

.movement-item {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.625rem 1rem 1.625rem;
  margin: 1rem;
  width: 14rem;
  height: 24.375rem;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(47, 28, 80, 0.2);
}

.movement-text {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movement-image {
  object-fit: cover;
  height: 50%;
  background: var(--white-color);
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.join-header-text {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
  margin-bottom: 0.25rem;
  width: 100%;
  color: var(--dark-blue-color);
  background: var(--white-color);
}

.join-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-blue-color);
  opacity: 0.7;
}

.movement-item svg {
  position: relative;
  left: 92%;
  height: 1.5rem;
  width: 1.5rem;
}

#roadmap-section {
  height: auto;
  background: var(--white-color);
  overflow: hidden;
}

#roadmap-box {
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#roadmap-mobile {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.blur {
  background: var(--black-color);
  position: relative;
  top: 0;
}

#roadmap-results {
  width: 45%;
  padding-left: 2rem;
}

#roadmap-stats {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.span-stats {
  text-align: right;
  margin-right: 1rem;
}

#roadmap-stats div {
  display: flex;
  flex-direction: column;
}

#next-button {
  background: var(--yellow-color);
  height: 2.625rem;
  color: var(--second-purple-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2.125rem;
  padding-right: 2.825rem;
}

#next-button svg {
  position: absolute;
}

#next-button:hover {
  background: rgba(246, 211, 101, 0.7) !important;
}

.roadmap-card {
  display: inline-block;
  width: 84%;
  height: auto;
  background: var(--white-color);
  padding: 22px;
  filter: drop-shadow(-1px 6px 3px rgba(47, 28, 80, 0.2));
  margin-top: 10rem;
  border-radius: 10px;
}

.roadmap-card .body-1 {
  color: var(--dark-blue-color);
  opacity: 0.5;
}

.roadmap-card .caption-2 {
  color: var(--grey-blue-color);
}

.clipped-path {
  clip-path: polygon(100% 0, 1% 0, 0 100%);
  position: absolute;
  background: var(--white-color);
  right: -20px;
  top: 0;
  height: 30px;
  width: 30px;
}

#roadmap-graph {
  position: relative;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--main-purple-color);
  position: relative;
  right: 1.25rem;
  z-index: 4;
}

.dashed-line {
  position: relative;
  left: 18px;
  width: 4px;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    var(--second-purple-color) 50%,
    var(--second-purple-color) 100%,
    transparent 100%
  );
  background-size: 100px 10%;
  height: 24rem;
}

.roadmap-line {
  position: relative;
  left: 18px;
  width: 0px;
  border: 2px solid var(--grey-color);
  height: 8rem;
}

@media only screen and (max-width: 1200px) {
  .intro-grid,
  #why-section,
  #current-recognized-header,
  #current-recognized-items,
  #movement-items,
  #roadmap-box,
  .partner-margin {
    width: 900px;
  }

  .corner-shape {
    left: -2rem;
  }

  #movement-items {
  }

  .artwork-desktop,
  .artwork-mobile {
    z-index: 10;
  }

  .why-image-one,
  .why-image-two {
    height: 25rem;
  }

  .current-phase-bg {
    left: -10rem;
  }

  .current-phase-bg2 {
    right: -15rem;
    overflow: hidden;
  }

  #intro-setup-process .body-2 {
    font-size: 0.875rem;
  }

  #current-recognized-items {
    flex-direction: row;
  }

  #current-recognized-items div {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1023px) {
  .intro-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: var(--main-purple-color);
    margin: 1rem 0 3rem 0;
    padding: 1rem;
  }

  .item-one {
    order: 1;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem !important;
    margin-top: 2.5rem !important;
    margin-bottom: 0 !important;
  }

  .corner-shape {
    display: none;
  }

  .item-two {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-height: 300px;
  }

  .body-2 {
    font-size: 0.75rem !important;
  }

  #intro-setup {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  #intro-setup-process .body-2 {
    font-size: 0.625rem;
  }

  .intro-subtitle {
    margin-bottom: 30px;
  }

  .artwork-desktop,
  .artwork-mobile {
    width: 80%;
    margin: 0;
  }

  .artwork-desktop {
    display: none;
  }

  .artwork-mobile {
    display: block;
  }

  #cto-button {
    background: var(--yellow-color);
    color: var(--second-purple-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
  }

  #cto-button:hover {
    background: rgba(246, 211, 101, 0.7) !important;
  }

  .partners-section {
    width: 100%;
    background: var(--second-purple-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    height: 5rem;
  }

  .partners-image {
    height: 1.7rem;
    margin: 0.7rem;
  }

  .partners-section {
    flex-wrap: wrap;
    height: auto;
    padding: 1rem;
  }

  .partner-margin {
    width: 80%;
    justify-content: center;
  }

  #intro-setup p {
    margin-top: 2rem;
    text-align: center;
    width: 20rem;
  }

  #why-section {
    background: var(--white-color);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .why-image-one {
    height: 18rem;
    margin: 0 auto;
  }
  .why-image-two {
    height: 18rem;
    margin: 0 auto;
    padding-left: 0;
  }

  #why-section-one {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  #why-section-one div {
    margin-top: 2rem;
    width: 80%;
    height: 60%;
  }

  #why-section-two {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #why-section-two div {
    width: 80%;
    margin-top: 2rem;
  }

  #why-section-two :nth-child(2) {
    margin-top: 2rem;
    height: 60%;
    width: 80%;
    order: -1;
  }

  #why-image-section-two {
    padding-right: 0;
  }

  #why-section-two :nth-child(2) p {
    width: 100%;
  }

  #current-recognized-section {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
  }

  #join-section {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
  }

  #current-recognized-items {
    justify-content: center;
    width: 80%;
  }

  .current-recognized-item {
    margin: 0.5rem;
    height: 7.5rem;
    width: 7.5rem;
  }

  .current-recognized-item img {
    margin: 0.25rem 0.25rem 0.5rem 0.25rem;
    height: 3rem;
    object-fit: contain;
  }

  .current-recognized-item .body-2 {
    line-height: 1rem !important;
  }

  .faded img {
    margin: 0.25rem;
  }

  .faded .body-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem !important;
  }

  .faded:nth-child(3) .body-2 {
    line-height: 0.9rem;
  }

  .faded p {
    line-height: 0.625rem;
  }

  #current-recognized-header {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  #movement-items {
    width: 80%;
    flex-direction: column;
  }

  .movement-item {
    margin: 1rem;
  }

  #current-phase-section {
    height: auto;
    background: var(--white-color);
    overflow: hidden;
  }

  #current-phase-section h2 {
    margin-top: 2rem;
    text-align: center;
    color: var(--dark-blue-color);
  }

  #current-phase-section p {
    margin-top: 2rem;
    text-align: center;
    width: 20rem;
    color: var(--dark-blue-color);
  }

  #intro-setup-process {
    width: 80%;
  }

  #process-steps {
    width: 100%;
  }

  #arrows {
    width: 90%;
  }

  .arrow {
    width: 0.5rem;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .final-arrow {
    width: 3.5rem;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .final-point {
    border-right: 2.5px solid var(--dark-blue-color);
  }

  .line {
    width: 23rem;
    background: var(--dark-blue-color);
    height: 3px;
    align-self: center;
  }

  #roadmap-box {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
  }

  #roadmap-results {
    position: relative;
    width: 80%;
    margin-top: 3.5rem;
    margin-bottom: 6.5rem;
    padding: 0;
    z-index: 0;
  }

  #roadmap-mobile {
    width: 100%;
    justify-content: center;
    align-items: stretch;
  }

  #roadmap-graph {
    position: relative;
    left: 1.5rem;
  }

  .roadmap-card {
    width: 90%;
    margin-top: 7rem;
  }

  .dashed-line {
    position: absolute;
    top: 8rem;
    height: 220%;
    background-size: 100px 5%;
  }

  .circle {
    width: 2.375rem;
    height: 2.375rem;
    right: 0;
  }

  .roadmap-line {
    height: 6rem;
  }

  .current-phase-bg,
  .current-phase-bg2 {
    display: none;
    height: 0;
  }

  .current-phase-bg {
    left: 0;
  }

  .current-phase-bg2 {
    right: 0;
  }
}
</style>
