<template>
  <div id="participation">
    <contactform></contactform>
    <div id="intro-section">
      <div class="bg-display">
        <img class="current-phase-bg" src="../assets/process-bg.png" />
        <div class="intro">
          <h2>{{ participationText.title }}</h2>
          <p class="body-1">{{ participationText.subTitle }}</p>
        </div>
        <img class="current-phase-bg2" src="../assets/process-bg2.png" />
      </div>
    </div>
    <div class="participation-section">
      <div class="section-item">
        <img class="section-image" src="../assets/owncity.png" />
        <div class="section-text">
          <p class="body-2">{{ participationText.sectionOneSmallHeader }}</p>
          <h2>{{ participationText.sectionOneHeader }}</h2>
          <p class="body-1">{{ participationText.sectionOneText }}</p>
          <div>
            <router-link to="/setup">
              <b-button
                rounded
                class="participation-button"
                size="is-medium"
                type="is-info"
              >{{ participationText.sectionOneButton }}</b-button>
            </router-link>
          </div>
        </div>
      </div>
      <div class="section-item">
        <img class="section-image" src="../assets/othercities.png" />
        <div class="section-text">
          <p class="body-2">{{ participationText.sectionTwoSmallHeader }}</p>
          <h2>{{ participationText.sectionTwoHeader }}</h2>
          <p class="body-1">{{ participationText.sectionTwoText }}</p>
          <div>
            <a href="https://gitlab.com/odk.ai/odk-stack" target="_blank">
              <b-button
                outlined
                rounded
                class="gitlab-button"
                size="is-medium"
              >{{ participationText.sectionTwoButton }}</b-button>
            </a>
          </div>
        </div>
      </div>
      <div class="section-item">
        <img class="section-image" src="../assets/labelimages.png" />
        <div class="section-text">
          <p class="body-2">{{ participationText.sectionThreeSmallHeader }}</p>
          <h2>{{ participationText.sectionThreeHeader }}</h2>
          <p class="body-1">{{ participationText.sectionThreeText }}</p>
          <div>
            <b-button
              rounded
              disabled
              class="participation-button"
              size="is-medium"
              type="is-info"
            >{{ participationText.sectionThreeButton }}</b-button>
          </div>
        </div>
      </div>
      <div class="section-item">
        <img class="section-image" src="../assets/otherobjects.png" />
        <div class="section-text">
          <p class="body-2">{{ participationText.sectionFourSmallHeader }}</p>
          <h2>{{ participationText.sectionFourHeader }}</h2>
          <p class="body-1">{{ participationText.sectionFourText }}</p>
          <div id="item-4-btns">
            <b-button
              rounded
              disabled
              class="label-button participation-button"
              size="is-medium"
              type="is-info"
            >{{ participationText.sectionFourButtonOne }}</b-button>
            <a href="https://gitlab.com/odk.ai/odk-stack" target="_blank">
              <b-button
                outlined
                rounded
                class="gitlab-button"
                size="is-medium"
              >{{ participationText.sectionTwoButton }}</b-button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from "./ContactForm";
import { participationPageText } from "../locale/translations";
import { eventBus } from "../main";

export default {
  name: "participation-page",
  components: {
    contactform: ContactForm
  },

  // ----

  data() {
    return {
      participationText: null,
      participationTextEn: null,
      participationTextNl: null
    };
  },

  // ----

  methods: {
    setup() {
      this.participationTextEn = participationPageText.i18n.messages.en;
      this.participationTextNl = participationPageText.i18n.messages.nl;

      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.participationText = this.participationTextNl;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.participationText = this.participationTextEn;
      } else {
        this.participationText = this.participationTextNl;
      }
    }
  },

  // ----

  beforeMount() {
    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
        this.participationText = this.participationTextEn;
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
        this.participationText = this.participationTextNl;
      }
    });

    // init
    this.setup();
  }
};
</script>

<style scoped>
body {
  width: 100vw;
}

#setup {
  display: block;
}

#intro-section {
  height: 26.625rem;
  width: 100%;
  background: var(--white-color);
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.bg-display {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.current-phase-bg,
.current-phase-bg2 {
  height: 100%;
  position: absolute;
}

.current-phase-bg {
  left: 0;
}

.current-phase-bg2 {
  right: 0;
}

.intro {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro p {
  width: 40%;
}

.participation-section {
  display: flex;
  background: var(--white-color);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-bottom: 2.375rem;
}

.section-item {
  height: 504px;
  display: grid;
  width: 100%;
  grid-template-columns: 12.5% 37.5% 37.5% 12.5%;
  background: var(--second-white-color);
  margin-bottom: 3.875rem;
}

.section-image,
.section-text {
  max-width: 700px;
}

.section-image {
  width: 80%;
  max-width: 400px;
  object-fit: contain;
  justify-self: center;
  align-self: center;
  grid-column: 2;
}

.participation-button {
  width: 6rem;
  height: 2.625rem;
  background: var(--yellow-color) !important;
  color: var(--second-purple-color) !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.participation-button:hover {
  background: rgba(246, 211, 101, 0.7) !important;
}

.participation-button:disabled {
  width: 10rem;
  height: 2.625rem;
  background: rgba(226, 222, 233, 0.6) !important;
  color: rgba(47, 28, 80, 0.7) !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.gitlab-button {
  width: 6rem;
  height: 2.625rem;
  color: var(--second-purple-color) !important;
  border: 2px solid var(--second-purple-color) !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.gitlab-button:hover {
  background: rgba(105, 89, 133, 0.6);
}

.section-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-text :nth-child(4) {
  margin-top: 2rem;
}

.label-button {
  margin-right: 20px;
}

#item-4-btns {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .section-item {
    grid-template-columns: 1fr 450px 450px 1fr;
  }

  .current-phase-bg {
    left: -4rem;
  }

  .current-phase-bg2 {
    right: -11rem;
  }

  .section-image {
    justify-self: flex-start;
  }
}

@media only screen and (max-width: 1023px) {
  .section-item {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--second-white-color);
    padding: 4rem 10%;
  }

  .section-image {
    height: 50%;
    align-self: center;
  }

  .section-item:last-of-type .section-image {
    padding: 0.5rem;
  }

  .section-text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-text .body-2 {
    line-height: unset !important;
    margin-bottom: 0.5rem;
  }

  .bg-display {
    align-items: center;
  }

  .current-phase-bg {
    display: none;
  }

  .current-phase-bg2 {
    display: none;
  }

  .intro {
    width: 80%;
    margin: 0;
  }

  .intro p {
    width: 100%;
  }
}
</style>
