<template>
  <div id="setup-images">
    <!-- animation div, used by Lottie -->
    <div ref="container" id="animLottie" class="animation"></div>
    <!-- robot animation trigger, used by ScrollMagic -->
    <div id="trigger" class="scene"></div>
  </div>
</template>

<script>
import { animationData } from "../assets/report/report";

export default {
  data() {
    return {
      robotAnim: null
    };
  },

  mounted() {
    const { container } = this.$refs;
    //animation data
    var setupAnimData = {
      container: container,
      renderer: "svg",
      loop: true,
      autoplay: true,
      animationData: animationData
    };

    let robotAnim = bodymovin.loadAnimation(setupAnimData);

    var tl = new TimelineMax();
  }
};
</script>

<style scoped>
.animation {
  position: relative;
  top: 20%;
  width: 100%;
  height: auto;
}

#setup-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

@media only screen and (max-width: 1023px) {
  #setup-images {
    width: 90%;
    margin-top: 2rem;
  }
}
</style>
