<template>
  <div id="roadmap-graph">
    <div class="line"></div>
    <div class="circle"></div>
  </div>
</template>

<script>
export default {
  name: "roadmap-graph"
};
</script>

<style scoped>
#roadmap-graph {
  display: block;
  height: 100%;
  position: relative;
}

.circle {
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  background: var(--grey-color);
  position: relative;
}

.line {
  display: block;
  position: absolute;
  top: 0;
  left: 18px;
  width: 0px;
  border: 2px solid var(--grey-color);
  height: 100%;
}
</style>
