<template>
  <div class="roadmap-future-phase">
    <div class="roadmap-future-phase-left">
      <RoadmapCard
        v-if="orientation == null || orientation == 'left'"
        :title="title"
        :date="date"
        :text="text"
        :orientation="orientation"
        :link="link"
        data-aos="zoom-in"
      />
    </div>
    <div class="roadmap-future-phase-middle">
      <RoadmapFutureGraph />
    </div>
    <div class="roadmap-future-phase-right">
      <RoadmapCard
        v-if="orientation == 'right'"
        :title="title"
        :date="date"
        :text="text"
        :orientation="orientation"
        :link="link"
        data-aos="zoom-in"
      />
    </div>
  </div>
</template>

<script>
import RoadmapFutureGraph from "./RoadmapFutureGraph";
import RoadmapCard from "./RoadmapCard";

export default {
  name: "roadmap-future-page",
  components: {
    RoadmapFutureGraph,
    RoadmapCard
  },

  // ----

  props: ["date", "title", "text", "orientation", "link"] // orientation: left or right
};
</script>

<style scoped>
.roadmap-future-phase {
  display: flex;
  width: 100%;
  height: 30rem;
  flex-flow: row nowrap;
}

.roadmap-future-phase .roadmap-future-phase-left {
  flex-grow: 1;
  padding: 0;
  margin-right: 1.5rem;
  position: relative;
}

.roadmap-future-phase .roadmap-future-phase-middle {
  flex: 0 0 50px;
  padding: 0;
}

.roadmap-future-phase .roadmap-future-phase-right {
  flex-grow: 1;
  padding: 0;
  position: relative;
  margin-left: 1.5rem;
}

@media only screen and (max-width: 1023px) {
  .roadmap-future-phase {
    width: 80%;
    margin: 0 auto;
    position: relative;
    left: 9.4%;
    height: 35rem;
  }

  .roadmap-future-phase .roadmap-future-phase-left {
    margin-right: 0;
  }

  .roadmap-future-phase-right {
    display: none;
  }
}
</style>
