<template>
  <div id="roadmap">
    <contactform></contactform>
    <div id="intro-section">
      <div class="bg-display">
        <img class="current-phase-bg" src="../assets/roadmap-left.png" />
        <div class="intro">
          <h2>{{ roadmapText.title }}</h2>
          <p class="body-1">{{ roadmapText.subTitle }}</p>
          <b-button
            v-if="mobileActive"
            id="scroll-button"
            @click="scrollToPresentMobile"
          >{{ roadmapText.scrollPresent }}</b-button>
          <b-button
            v-else
            id="scroll-button"
            @click="scrollToPresent"
          >{{ roadmapText.scrollPresent }}</b-button>
        </div>
        <img class="current-phase-bg2" src="../assets/roadmap-right.png" />
      </div>
    </div>
    <div id="roadmap-section">
      <RoadmapPhase
        v-for="phase in orderRoadmapCardsPast"
        v-bind:key="phase.text"
        :title="phase.title"
        :date="phase.date"
        :text="phase.text"
        :orientation="phase.orientation"
        :video="phase.video"
        :photos="phase.photos"
        :link="phase.link"
      />
      <RoadmapFuturePhase
        v-for="phase in orderRoadmapCardsFuture"
        v-bind:key="phase.text"
        :title="phase.title"
        :date="phase.date"
        :text="phase.text"
        :orientation="phase.orientation"
        :link="phase.link"
      />
    </div>
  </div>
</template>

<script>
import RoadmapPhase from "./RoadmapPhase";
import RoadmapFuturePhase from "./RoadmapFuturePhase";
import ContactForm from "./ContactForm";
import { roadmapPageText, roadmapCards } from "../locale/translations";
import { monthsNl, monthsEn } from "../util";
import _ from "lodash";
import { eventBus } from "../main";

export default {
  name: "roadmap-page",
  components: {
    RoadmapPhase,
    RoadmapFuturePhase,
    contactform: ContactForm
  },

  // ----

  data() {
    return {
      garbageScan: null,
      roadmapText: null,
      roadmapTextEn: null,
      roadmapTextNl: null,
      roadmapMssg: [],
      roadmapFutureMssg: [],
      pastElements: null,
      futureElements: null,
      roadmapNl: null,
      roadmapEn: null,
      orientation: null,
      mobileActive: false
    };
  },

  // ----

  computed: {
    orderRoadmapCardsPast() {
      // Order Past items / cards by date
      this.roadmapMssg = _.orderBy(this.roadmapMssg, "dueDate", "asc");

      // Add orientation to items / cards from Past
      this.checkOrientation(this.roadmapMssg);
      this.orientation = true;

      return this.roadmapMssg;
    },
    orderRoadmapCardsFuture() {
      // Order Future items / cards by date
      this.roadmapFutureMssg = _.orderBy(
        this.roadmapFutureMssg,
        "dueDate",
        "asc"
      );

      // Add orientation to items / cards from Future
      this.checkOrientation(this.roadmapFutureMssg);

      return this.roadmapFutureMssg;
    }
  },

  // ----

  methods: {
    setup() {
      // Set properties to empty for best result
      this.orientation = null;
      this.roadmapMssg = [];
      this.roadmapFutureMssg = [];

      // Grab text for each language
      this.roadmapTextEn = roadmapPageText.i18n.messages.en;
      this.roadmapTextNl = roadmapPageText.i18n.messages.nl;
      this.roadmapEn = roadmapCards.i18n.messages.en.roadmap;
      this.roadmapNl = roadmapCards.i18n.messages.nl.roadmap;

      // init roadmap
      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.roadmapText = this.roadmapTextNl;
        this.checkDueDate(this.roadmapNl);
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.roadmapText = this.roadmapTextEn;
        this.checkDueDate(this.roadmapEn);
      } else {
        this.roadmapText = this.roadmapTextNl;
        this.checkDueDate(this.roadmapNl);
      }

      // Get collection of past and future for scrolling to and styling for current roadmap card
      this.pastElements = document.getElementsByClassName("roadmap-phase");
      this.futureElements = document.getElementsByClassName(
        "roadmap-future-phase"
      );
      this.futureCircles = document.getElementsByClassName("future-circle");
    },

    // ----

    checkDueDate(roadmapItems) {
      // Variable for generating month in text
      let months;

      // Grab correct array of months based on language
      if (localStorage.dutchActive && localStorage.language == "nl") {
        months = monthsNl;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        months = monthsEn;
      } else {
        months = monthsNl;
      }

      // Determine whether date of item / card was in the Past or is in the Future
      // Get date of today
      let date = new Date();

      // For every item / card
      roadmapItems.forEach(x => {
        // Get month of item / card, correspond to item of monts array
        let month = months[[new Date(x.dueDate).getMonth()]];
        // Get year of item / card
        let year = new Date(x.dueDate).getFullYear();
        // Add 'date' to item / card data
        x.date = month + " " + year;

        // Compare dueDate of card with current date (-1)
        if (
          new Date(x.dueDate).setDate(new Date(x.dueDate).getDate() + 1) >=
          date.setDate(date.getDate())
        ) {
          // Add item / card to Future array if date >= today
          this.roadmapFutureMssg.push(x);
        } else {
          // Add item / card to Past array if date < today
          this.roadmapMssg.push(x);
        }
      });
    },

    // ----

    checkOrientation(roadmapItems) {
      // Determine whether item / card should be placed left or right
      // Based on last determined item / card
      // Initial side = 'left'
      if (!this.orientation) {
        let cardOrientation = null;
      }

      roadmapItems.forEach(roadmapItem => {
        if (window.innerWidth <= 1023) {
          // For small screens, awlays add 'left'
          roadmapItem.orientation = "left";
        } else if (
          // Initial side = 'left'
          this.cardOrientation == null ||
          this.cardOrientation == "right"
        ) {
          // Change initial state to 'left'
          this.cardOrientation = "left";
          roadmapItem.orientation = this.cardOrientation;
        } else {
          // Change initial state to 'right'
          this.cardOrientation = "right";
          roadmapItem.orientation = this.cardOrientation;
        }
      });
    },

    // ----

    scrollToPresent() {
      // Scroll to last Past card for best viewing experience
      this.pastElements[this.pastElements.length - 1].scrollIntoView();
    },
    scrollToPresentMobile() {
      // Scroll to first Future card
      this.futureElements[0].scrollIntoView();
    }
  },

  // ----

  beforeMount() {
    this.setup();

    // Check En or Nl language active
    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
        this.roadmapText = this.roadmapTextEn;
        this.setup();
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
        this.roadmapText = this.roadmapTextNl;
        this.setup();
      }
    });

    if (window.innerWidth <= 1023) {
      // Mobile only (for correct mobile styling)
      this.mobileActive = !this.mobileActive;
    }

    // Styling for current card
    // console.log(this.futureCircles)
  }
};
</script>

<style scoped>
.future-circle {
  height: 5rem;
  width: 5rem;
}

#roadmap {
  display: block;
  list-style: none;
  background: var(--second-white-color);
  position: relative;
  z-index: 1;
}

#intro-section {
  height: 26.625rem;
  width: 100%;
  background: var(--white-color);
  position: relative;
  z-index: 0;
  display: flex;
}

.bg-display {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.current-phase-bg {
  height: 100%;
  position: absolute;
  left: -12rem;
}

.current-phase-bg2 {
  height: 100%;
  position: absolute;
  right: -2.825rem;
}

.intro {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro p {
  width: 40%;
  margin-bottom: 1rem;
}

#roadmap-section div.roadmap-phase:nth-child(1) {
  padding-top: 4rem;
}

/deep/
  #roadmap-section
  div.roadmap-future-phase:nth-child(18)
  .roadmap-future-phase-middle
  #roadmap-graph
  .future-circle {
  height: 4.625rem;
  width: 4.625rem;
  right: -0.4rem;
  top: -0.825rem;
  z-index: 10;
}

/deep/ #roadmap-section div.roadmap-phase:nth-child(2),
#roadmap-section div.roadmap-phase:nth-child(8),
#roadmap-section div.roadmap-phase:nth-child(12) {
  height: 30rem;
}

/deep/ #roadmap-section div.roadmap-phase:nth-child(11) {
  height: 40rem;
}

/deep/ #roadmap-section div.roadmap-phase:nth-child(16) {
  height: 50rem;
}

#scroll-button {
  color: var(--pink-color) !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  outline: none !important;
  border: 0px solid transparent !important;
}

/deep/ #scroll-button:focus {
  outline: none !important;
  border: 0px solid transparent !important;
  text-decoration: underline;
  box-shadow: none;
}

@media only screen and (max-width: 1200px) {
  .current-phase-bg {
    left: -12rem;
  }

  .current-phase-bg2 {
    right: -8rem;
  }
}

@media only screen and (max-width: 1023px) {
  /deep/
    #roadmap-section
    div.roadmap-future-phase:nth-child(18)
    .roadmap-future-phase-middle
    #roadmap-graph
    .future-circle {
    width: 3rem;
    height: 3rem;
    right: 0.4rem;
    z-index: 10;
  }

  .bg-display {
    align-items: center;
  }

  .current-phase-bg {
    display: none;
  }

  .current-phase-bg2 {
    display: none;
  }

  .intro {
    width: 80%;
    margin: 0;
  }

  .intro p {
    width: 100%;
  }

  /deep/ #roadmap-section div.roadmap-phase:nth-child(8),
  #roadmap-section div.roadmap-phase:nth-child(1) {
    height: 46.5rem;
  }

  /deep/ #roadmap-section div.roadmap-phase:nth-child(2) {
    height: 60.5rem;
  }

  /deep/ #roadmap-section div.roadmap-phase:nth-child(11) {
    height: 60.5rem;
  }

  /deep/ #roadmap-section div.roadmap-phase:nth-child(12) {
    height: 46.5rem;
  }

  /deep/ #roadmap-section div.roadmap-phase:nth-child(16) {
    height: 60rem;
  }

  /deep/ #roadmap-section div.roadmap-phase:nth-child(17) {
    height: 52rem;
  }

  /deep/ #roadmap-section div.roadmap-future-phase:nth-child(23) {
    height: 50rem;
  }
}
</style>
