<template>
  <div class="roadmap-card" v-bind:class="{ right: isOrientationRight }">
    <p class="caption-2">{{ date }}</p>
    <p class="odk-title">{{ title }}</p>
    <p class="body-1" :class="{ 'main-text' : video }">
      {{text}}
      <a class="link" v-if="link" :href="link" target="_blank">{{ roadmapCardText.link }}</a>
    </p>
    <video
      class="video"
      v-if="video"
      controls
      loop
      width="250"
      height="250"
      type="video/webm"
      :src="require(`../assets/roadmap/${this.video}`)"
    ></video>
    <div class="photo-collage" v-if="photos">
      <img
        v-for="(pic, picIndex) in photos"
        v-bind:key="picIndex"
        :src="require(`../assets/roadmap/launch/${pic.photo}`)"
      />
    </div>
    <div v-bind:class="{ 'left-triangle' : clipPathLeft }"></div>
    <div v-bind:class="{  'right-triangle' : clipPathRight}"></div>
  </div>
</template>

<script>
import { roadmapPageText } from "../locale/translations";
import { eventBus } from "../main";

export default {
  name: "roadmap-graph",

  // ----

  props: ["date", "title", "text", "orientation", "video", "photos", "link"],

  // ----

  data() {
    return {
      roadmapCardText: null,
      roadmapCardTextEn: null,
      roadmapCardTextNl: null,
      clipPathLeft: false,
      clipPathRight: false
    };
  },

  // ----

  computed: {
    isOrientationRight() {
      return this.orientation == "right";
    }
  },

  // ----

  methods: {
    setup() {
      this.roadmapCardTextEn = roadmapPageText.i18n.messages.en;
      this.roadmapCardTextNl = roadmapPageText.i18n.messages.nl;

      // init roadmap
      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.roadmapCardText = this.roadmapCardTextNl;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.roadmapCardText = this.roadmapCardTextEn;
      } else {
        this.roadmapCardText = this.roadmapCardTextNl;
      }
    }
  },

  // ----

  beforeMount() {
    if (this.orientation == "right") {
      this.clipPathRight = !this.clipPathright;
    } else {
      this.clipPathLeft = !this.clipPathLeft;
    }

    this.setup();

    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
        this.roadmapCardText = this.roadmapCardTextEn;
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
        this.roadmapCardText = this.roadmapCardTextNl;
      }
    });
  }
};
</script>

<style scoped>
.roadmap-card {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25rem;
  height: auto;
  background: var(--white-color);
  padding: 22px;
  filter: drop-shadow(-1px 6px 3px rgba(47, 28, 80, 0.2));
  border-radius: 10px;
}

.roadmap-card a {
  color: var(--pink-color) !important;
  text-decoration: underline !important;
  display: inline;
}

.caption-2 {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-blue-color);
  font-weight: 400;
  line-height: 1.125rem;
  color: var(--grey-blue-color);
}

.video {
  margin: 0.75rem 0;
}

.photo-collage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.75rem 0;
}

.photo-collage img {
  width: calc(50% - 0.5rem);
  margin: 0.5rem 0;
}

.main-text {
  margin-bottom: 0.75rem;
}

.left-triangle {
  clip-path: polygon(100% 0, 1% 0, 0 100%);
  position: absolute;
  background: var(--white-color);
  right: -20px;
  top: 0;
  height: 30px;
  width: 30px;
}

.right-triangle {
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  position: absolute;
  background: var(--white-color);
  left: -20px;
  top: 0;
  height: 30px;
  width: 30px;
}

.right {
  left: 20px;
  top: 20px;
}

.body-1 {
  color: rgba(21, 21, 34, 0.5) !important;
}

@media only screen and (max-width: 1023px) {
  .roadmap-card {
    width: 70vw;
    padding: 1.5rem;
    margin-right: 1rem;
    margin-top: -0.25rem;
  }
}
</style>
