<template>
  <div id="setup">
    <contactform></contactform>
    <div id="intro-section">
      <div class="bg-display">
        <img class="current-phase-bg" src="../assets/setup-left.png" />
        <div class="intro">
          <h2>DIY kit</h2>
          <p class="body-1">{{ setupText.subTitle }}</p>
          <img src="../assets/setup/landscape-phone.png" class="intro-image" />
        </div>
        <img class="current-phase-bg2" src="../assets/setup-right.png" />
      </div>
    </div>
    <div v-if="mobileActive" class="container">
      <swiper :options="swiperOption">
        <swiper-slide
          v-for="component in components"
          v-bind:key="component.component"
          class="swiper-item"
        >
          <div>
            <img
              class="component-image"
              :src="require(`../assets/animation/${component.componentImage}.png`)"
            />
            <p class="body-2">{{ component.component }}</p>
          </div>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </div>
    <div v-else class="component-section">
      <p class="odk-title component-header">{{ setupText.componentTitle }}</p>
      <div class="component-images">
        <div v-for="component in components" v-bind:key="component.component">
          <img
            class="component-image"
            :src="require(`../assets/animation/${component.componentImage}.png`)"
          />
          <p class="body-2">{{ component.component }}</p>
        </div>
      </div>
    </div>
    <div class="setup-section">
      <div v-for="step in steps" v-bind:key="step.stepNumber" class="setup-step">
        <h2>{{ setupText.step }} {{ step.stepNumber }}</h2>
        <div class="setup-step-row">
          <img :src="require(`../assets/setup/${step.stepImage}`)" alt class="setup-image" />
          <div class="setup-text">
            <p class="odk-title">{{ step.stepTitle }}</p>
            <div class="setup-text-list">
              <div class="setup-text-list-item">
                <div>
                  <svg
                    width="12px"
                    height="12px"
                    viewBox="0 0 12 12"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <title>Icons/Dot</title>
                    <desc>Created with Sketch.</desc>
                    <g
                      id="Icons/Dot"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <circle id="Oval-Copy-5" fill="#E2DEE9" cx="6" cy="6" r="6" />
                    </g>
                  </svg>
                </div>
                <div>
                  <p class="body-1">
                    {{ step.stepTask1 }}
                    <a
                      v-if="step.stepLink"
                      :href="step.stepLink"
                      target="_blank"
                    >{{ step.stepLink }}</a>
                  </p>
                </div>
              </div>
              <div v-if="step.stepTask2" class="setup-text-list-item">
                <div>
                  <svg
                    width="12px"
                    height="12px"
                    viewBox="0 0 12 12"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <title>Icons/Dot</title>
                    <desc>Created with Sketch.</desc>
                    <g
                      id="Icons/Dot"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <circle id="Oval-Copy-5" fill="#E2DEE9" cx="6" cy="6" r="6" />
                    </g>
                  </svg>
                </div>
                <div>
                  <p class="body-1">{{ step.stepTask2 }}</p>
                </div>
              </div>
              <div v-if="step.stepInfo" class="setup-text-info">
                <div>
                  <svg
                    width="2rem"
                    height="2rem"
                    viewBox="0 0 24 24"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <title>Icons/Info</title>
                    <desc>Created with Sketch.</desc>
                    <g
                      id="Icons/Info"
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <path
                        d="M12,2 C14.6521649,2 17.195704,3.0535684 19.0710678,4.92893219 C20.9464316,6.80429597 22,9.3478351 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,3.66666667 C7.39762708,3.66666667 3.66666667,7.39762708 3.66666667,12 C3.66666667,16.6023729 7.39762708,20.3333333 12,20.3333333 C16.6023729,20.3333333 20.3333333,16.6023729 20.3333333,12 C20.3333333,9.78986258 19.4553597,7.67024664 17.8925565,6.10744349 C16.3297534,4.54464034 14.2101374,3.66666667 12,3.66666667 Z M12.8866667,9.96 C13.5533333,9.96 13.6633333,10.7466667 13.33,11.96 L12.4566667,15.2733333 C12.3,15.86 12.3666667,16.06 12.5233333,16.06 C13.0764631,15.93732 13.5906358,15.679661 14.02,15.31 L14.3966667,15.8166667 C12.82,17.3833333 11.1,18 10.4366667,18 C9.77,18 9.28333333,17.5933333 9.75,15.82 L10.5133333,12.6666667 C10.6466667,12.1633333 10.6666667,11.96 10.5133333,11.96 C9.95343452,12.0987615 9.42134267,12.3321153 8.94,12.65 L8.60666667,12.1066667 C10.2266667,10.7533333 12.09,9.96 12.8866667,9.96 Z M12.9333333,5.61 C13.9066667,5.61 14.1933333,6.17666667 14.1933333,6.82333333 C14.1933333,7.63 13.5466667,8.37666667 12.4433333,8.37666667 C11.52,8.37666667 11.08,7.91333333 11.11,7.14666667 C11.11,6.5 11.6666667,5.61 12.9333333,5.61 Z"
                        id="Combined-Shape"
                        fill="#E2DEE9"
                      />
                    </g>
                  </svg>
                </div>
                <div>
                  <p class="body-1">{{ step.stepInfo }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from "./ContactForm";
import { setupPageText, setupComponents, setupSteps } from "../locale/translations";
import { eventBus } from "../main";

export default {
  name: "setup-page",
  components: {
    contactform: ContactForm
  },

  // ----

  data() {
    return {
      mobileActive: false,
      components: null,
      componentsEn: null,
      componentsNl: null,
      setupText: null,
      setupTextEn: null,
      setupTextNl: null,
      steps: null,
      stepsEn: null,
      stepsNl: null,
      swiperOption: {
        slidesPerView: 2,
        spaceBetween: 10,
        centeredSlides: true
        // pagination: {
        //   el: '.swiper-pagination',
        //   clickable: true
        // }
      }
    };
  },

  // ----

  methods: {
    setup() {
      this.setupTextEn = setupPageText.i18n.messages.en;
      this.setupTextNl = setupPageText.i18n.messages.nl;
      this.componentsEn = setupComponents.i18n.messages.en.components;
      this.componentsNl = setupComponents.i18n.messages.nl.components;
      this.stepsEn = setupSteps.i18n.messages.en.steps;
      this.stepsNl = setupSteps.i18n.messages.nl.steps;

      if (localStorage.dutchActive && localStorage.language == "nl") {
        this.setupText = this.setupTextNl;
        this.components = this.componentsNl;
        this.steps = this.stepsNl;
      } else if (localStorage.englishActive && localStorage.language == "en") {
        this.setupText = this.setupTextEn;
        this.components = this.componentsEn;
        this.steps = this.stepsEn;
      } else {
        this.setupText = this.setupTextNl;
        this.components = this.componentsNl;
        this.steps = this.stepsNl;
      }
    }
  },

  // ----

  beforeMount() {
    eventBus.$on("langEnActive", englishActive => {
      if (localStorage.englishActive) {
        localStorage.language = "en";
        this.setupText = this.setupTextEn;
        this.components = this.componentsEn;
        this.steps = this.stepsEn;
      }
    });
    eventBus.$on("langNlActive", dutchActive => {
      if (localStorage.dutchActive) {
        localStorage.language = "nl";
        this.setupText = this.setupTextNl;
        this.components = this.componentsNl;
        this.steps = this.stepsNl;
      }
    });

    // init
    this.setup();

    if (window.innerWidth <= 1023) {
      this.mobileActive = !this.mobileActive;
    }
  }
};
</script>

<style scoped>
ul {
  list-style: circle;
}

#intro-section {
  height: 42rem;
  width: 100%;
  background: var(--white-color);
  position: relative;
  display: flex;
  z-index: 0;
}

.intro {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.intro p {
  width: 40%;
  margin-bottom: 5rem;
}

.intro-image {
  width: 20%;
  object-fit: contain;
}

.bg-display {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.current-phase-bg,
.current-phase-bg2 {
  position: absolute;
  top: 0;
}

.current-phase-bg {
  height: 100%;
  left: -2rem;
}

.current-phase-bg2 {
  height: 70%;
  right: -1rem;
}

.component-section {
  width: 100%;
  padding: 3.75rem 0 1.125rem 0;
  background: var(--second-white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.component-header {
  width: 75%;
  margin-bottom: 2.625rem;
}

.container {
  height: auto;
  background: var(--second-white-color);
  padding: 1.5rem 0;
}

.swiper-item {
  display: flex;
  justify-content: center;
}

.swiper-item div p {
  text-align: center;
  line-height: 1.4rem;
}

.component-images {
  width: 75%;
  max-width: 1400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.component-images div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.component-images p {
  padding-top: 2.625rem;
  width: 100%;
  text-align: center;
}

.component-image {
  height: 8rem;
}

.component-images div:nth-child(2) > .component-image,
.component-images div:nth-child(5) > .component-image {
  padding: 1rem;
}

.component-images div:nth-child(4) > .component-image {
  padding: 2rem;
}

.setup-section {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 6.25rem;
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setup-step {
  width: 75%;
  max-width: 1400px;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setup-step h2 {
  width: 100%;
  padding-bottom: 2rem;
}

.setup-step-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.setup-image {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  min-width: 0.625rem;
}

.setup-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}

.setup-text > .odk-title {
  margin-bottom: 1.75rem;
}

.setup-text-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.setup-text-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.setup-text-list-item > div:first-of-type {
  padding: 0.2rem 0.75rem 0 0;
}

.setup-text-list-item > div > p {
  margin-top: 0 !important;
}

.setup-text-list .body-1 a {
  color: var(--pink-color) !important;
  text-decoration: underline !important;
}

.setup-text-list .body-1 a:hover,
.setup-text-list .body-1 a:focus {
  color: var(--grey-blue-color) !important;
}

.setup-text-info {
  width: 100%;
  display: flex;
}

.setup-text-info :nth-child(1) {
  padding: 0 0.3rem 0 0.45rem;
}

.setup-text-info > div > p {
  margin: 0 !important;
}

@media only screen and (max-width: 1200px) {
  .component-header,
  .component-images,
  .setup-step {
    width: 900px;
  }

  .current-phase-bg {
    left: -2rem;
  }

  .current-phase-bg2 {
    right: -5rem;
  }
}

@media only screen and (max-width: 1023px) {
  .bg-display {
    align-items: center;
  }

  .component-header,
  .component-images,
  .setup-step {
    width: 80%;
  }

  #intro-section {
    height: 30rem;
  }

  .current-phase-bg,
  .current-phase-bg2 {
    display: none;
  }

  .intro {
    width: 80%;
    margin: 0;
  }

  .intro p {
    width: 100%;
    margin: 0.625rem 0 2.75rem 0;
  }

  .intro-image {
    width: 30%;
    min-width: 12.5rem;
  }

  .component-images {
    justify-content: space-around;
  }

  .component-images > div > p {
    padding-bottom: 1rem;
  }

  .component-image {
    height: 8rem;
    margin: 1rem;
  }

  .setup-step-row {
    flex-direction: column;
  }

  .setup-image {
    width: 100%;
  }

  .setup-text {
    width: 100%;
    margin: 0;
  }

  .setup-text > .odk-title {
    margin: 2rem 0;
  }

  .setup-text-list {
    width: 100%;
  }

  .setup-text-info {
    width: 100%;
  }
}
</style>