<template>
  <div id="app">
    <Header></Header>
    <div id="page">
      <div id="container">
        <router-view></router-view>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import HomePage from "./components/HomePage";
import SetupPage from "./components/SetupPage";
import Header from "./components/Header";
import Footer from "./components/Footer";
import { eventBus } from "./main";

export default {
  name: "app",
  data() {
    return {
      language: ""
    };
  },
  components: {
    HomePage,
    SetupPage,
    Header,
    Footer
  }
};
</script>

<style>
:root {
  --main-purple-color: #3a225d;
  --second-purple-color: #2f1c50;
  --red-color: #e1524a;
  --pink-color: #c83760;
  --yellow-color: #f6d365;
  --white-color: #ffffff;
  --second-white-color: #f9f8fa;
  --black-color: #000000;
  --dark-blue-color: #151522;
  --error-color: #c83737;
  --success-color: #37c88b;
  --grey-color: #e2dee9;
  --grey-blue-color: #9891a4;
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Nunito Sans Black"), local("NunitoSans-Black"),
    url("../src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("../src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../src/assets/base/Nunito-sans/nunito-sans-v5-latin-900.svg#NunitoSans")
      format("svg"); /* Legacy iOS */
}

/* Text styles */

.odk-title {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 2rem !important;
  color: var(--dark-blue-color) !important;
}

h1 {
  font-family: "Nunito Sans" !important;
  font-size: 2.75rem !important;
  font-weight: 700 !important;
  line-height: 3.5rem !important;
  color: var(--white-color) !important;
}

h2 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 2.25rem !important;
  font-weight: 700 !important;
  line-height: 3.125rem !important;
  color: var(--dark-blue-color) !important;
}

h3 {
  font-family: "Nunito Sans" !important;
  font-size: 1.375rem !important;
  font-weight: 400 !important;
  line-height: 2.5rem !important;
  color: var(--dark-blue-color) !important;
}

h4 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 2.0625rem !important;
  color: var(--white-color) !important;
}

.body-1 {
  margin-top: 1rem !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.875rem !important;
  color: var(--dark-blue-color) !important;
}

.body-2 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  line-height: 1.875rem !important;
  color: var(--dark-blue-color) !important;
}

.body-3 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.1875rem !important;
  color: var(--dark-blue-color) !important;
  opacity: 0.5 !important;
}

.body-4 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.875rem !important;
  color: var(--dark-blue-color) !important;
  opacity: 0.5 !important;
}

.caption-1 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  line-height: 1.125rem !important;
  color: var(--dark-blue-color) !important;
  opacity: 0.5 !important;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2.5rem !important;
  }

  h4 {
    font-size: 1.25rem !important;
  }
}

@media only screen and (max-width: 1023px) {
  .odk-title {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }

  h2 {
    line-height: 2.25rem !important;
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }
}

/*  */

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

/deep/ :focus {
  outline: none;
}

:focus {
  outline: none;
}

#app,
#page {
  background-color: var(--main-purple-color);
}

#container {
  display: block;
  max-width: 100vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    #container {
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 1023px) {
  html {
    scroll-behavior: unset;
  }
  #container {
    overflow: hidden;
  }
}
</style>
